body {
    background-color: antiquewhite;
}
.container {
    font-family: 'Inter', sans-serif;
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

h1, h2, h3 {
    font-weight: 700;
}

p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
}

li {
    list-style-type: none;
}

a {
    margin-bottom: 0.5em;
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

.PPT1 {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
}